.myPhoto{
    float: left;
    margin-right: 20px;
}

.jumbotron{
    padding: 1.5em;
    padding-top: 2em;
}

/* Projects */
.firstCard{
    margin-top: 1em;
}

/* Connect with Me */
.list-group-item {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}